.menu-cards{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    flex-wrap: wrap;
}

.card-item{
    text-align: center;
    background-color: whitesmoke;
    margin-top: 20px;
    padding: 2px;
    border: solid black 1px;
    border-radius: 1.5%;
}