{% extends 'template_prelogin.html' %}
{% block conteudo %}
<section class="flex-section">
    <form action="/salvarnovo" method="post" class="mb-3">
        <section>
            <h1>Criar novo Usuário</h1>
        </section>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Usuário</span>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Senha</span>
            <input type="password" class="form-control" placeholder="Senha" aria-label="Senha" aria-describedby="basic-addon1">
        </div>
        
        <div class="input-group mb-3">
            <label for="departamento" class="input-group-text">Departamento</label>
            <select class="form-select" id="departamento" name="departamento">
                <option value="Diretoria">Diretoria</option>
                <option value="Escritorio">Escritorio</option>
                <option value="Financeiro">Financeiro</option>
                <option value="Industria">Industria</option>
                <option value="Laboratorio">Laboratorio</option>
                <option value="Portaria">Portaria</option>
                <option value="Operacional">Operacional</option>
                <option value="RH">RH</option>
                <option value="TI">RH</option>
            </select>
        </div>
        
        <div>
            <button type="submit" class="btn btn-primary">Criar</button>
        </div>

        <p>
            <a href="{{ url_for('login') }}">>>voltar para login</a>
        </p>
    </form>    
</section>    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
