{% extends "template.html" %}
{% block conteudo %}
<section class="menu-cards">
    <section class="card-item">
        <h2>Relatórios</h2>
        <p>
            Página com Relatórios de entradas de pescado, exportações, vendas.
        </p>
        <a href="{{ url_for('relatorios')}}" class="btn btn-primary">Ir até a Página</a>
    </section>

    <section class="card-item">
        <h2>Solicitações</h2>
        <p>
            Em construção
        </p>
        <a href="{{ url_for('solicitacoes')}}" class="btn btn-primary">Ir até a Página</a>
    </section>

    <section class="card-item">
        <h2>Suporte</h2>
        <p>
            Em construção
        </p>
        <a href="{{ url_for('suporte')}}" class="btn btn-primary">Ir até a Página</a>
    </section>
</section>
{% endblock %}