{% extends "template.html" %}
{% block conteudo %}
<section class="section-home">

    <section class="item-menu">
        <h2>Relatórios</h2>
        <p>
            Página com Relatórios de entradas de pescado, exportações, vendas.
        </p>
        <a class="btn btn-primary">Ir</a>
    </section>

    <section class="item-menu">
        <h2>Solicitações</h2>
        <p>
            Em construção
        </p>
        <a class="btn btn-primary">Ir</a>
    </section>

    <section class="item-menu">
        <h2>Suporte</h2>
        <p>
            Em construção
        </p>
        <a class="btn btn-primary">Ir</a>
    </section>

</section>
{% endblock %}