{% extends "template.html" %}
{% block conteudo %}
<section class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <section class="col d-flex align-items-start">
        <h1>Relatórios</h1>
        <a class="btn btn-primary">Ir</a>
    </section>

    <section class="col d-flex align-items-start">
        <h1>Solicitações</h1>
        <a class="btn btn-primary">Ir</a>
    </section>

    <section class="col d-flex align-items-start">
        <h1>Suporte</h1>
        <a class="btn btn-primary">Ir</a>
    </section>
</section>
{% endblock %}