{% extends “template.html” %}
{% block conteudo %}
    <section>
        <form method="post">
            <h1>Entrar no sistema</h1>
            <p>
              <label htmlFor="username">Login:</label>
              <br/>
              <input 
                type="text" 
                id="username" 
                name="username" 
                placeholder="usuário"
              />
            </p>
            <p>
              <label htmlFor="password">Senha:</label>
              <br/>
              <input 
                type="password" 
                id="lname" 
                name="lname"
                placeholder="senha"
              />
              <a href="{{ url_for('criar') }}">criar usuário</a>
            </p>
            <p>
              <button type="submit">Entrar</button>
            </p>
        </form>
    </section>
{% endblock %}