{% extends 'template_prelogin.html' %}
{% block conteudo %}
<section class="section-flex-login">
  <form class="section-form" action="/logar" method="post">
    {{ form.hidden_tag() }} {# Adicione o campo de token CSRF #}
    <h1>Entrar no sistema</h1>

    <section class="section-form-login">
      <section class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Usuário:</span>
        {{ form.nickname(class="form-control", id="username", placeholder="usuário") }}
      </section>
  
      <section class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Senha:</span>
        {{ form.password(class="form-control", id="password", placeholder="*****") }}
      </section>
    </section>

    <section>
      <p>
        Não cadastrado? <a href="{{ url_for('criar') }}">Criar Usuário</a>
      </p>
    </section>

    <section>
      {{ form.entrar(class="btn btn-primary") }}
    </section>
  </form>
</section>
{% endblock %}
