{% extends "template.html" %}
{% block conteudo %}
    <section class="box-menu-relatorios">
        <a class="btn btn-primary">Abrir Relatório</a>
    </section>

    <section class="box-menu-relatorios">
        <a class="btn btn-primary">Abrir Relatório</a>
    </section>

    <section class="box-menu-relatorios">
        <a class="btn btn-primary">Abrir Relatório</a>
    </section>

    <section class="box-menu-relatorios">
        <a class="btn btn-primary">Abrir Relatório</a>
    </section>
{% endblock %}