<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portal do Usuário</title>
    <link rel="stylesheet" href="../static/body-templates.css">
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/footer.css">
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="../static/relatorios/relatorios.css"
</head>

<body class="body-home">
    <header class="header-template">
        <img src="{{ url_for('static', filename='logo.png') }}" alt='logo' width='250px' />
        <nav class="nav-menu">
            <ul class="menu-list">
                <li class="menu-list-item"><a class="hyperlink-clean" href="{{ url_for('relatorios') }}">Relatórios</a></li>
                <li class="menu-list-item"><a class="hyperlink-clean" href="{{ url_for('suporte') }}">Suporte</a></li>
                <li class="menu-list-item"><a class="hyperlink-clean" href="{{ url_for('solicitacoes') }}">Solicitações</a></li>
                <li class="menu-list-item"><a class="hyperlink-clean" href="{{ url_for('deslogar') }}">Sair</a></li>
            </ul>
        </nav>
    </header>

    {% block conteudo %} {% endblock %}

    <footer class="footer-template">
        <p>Produzido pelo departamento de TI - <a href="https://produmar.ind.br/" target='blank'>Produmar</a> &#169;</p>
    </footer>
</body>

</html>