<!DOCTYPE html>
<html lang="pt-br">
    
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portal do Usuário</title>
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/user.css">
    <link rel="stylesheet" href="../static/footer.css">
    <link rel="stylesheet" href="../static/pre-login.css">
  </head>

  <body>
    <header class="header-template">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="logo" width="250px"/>
    </header>
    
    {% block conteudo %} {% endblock %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul id="messages" class="list-unstyled">
        {% for message in messages %}
        <li class="alert alert-success">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    
    <footer class="footer-template">
        <p>Produzido pelo departamento de TI - <a href="https://produmar.ind.br/" target='blank'>Produmar</a> &#169;</p>
    </footer>
  </body>
</html>